
<div id="addmenu" class="modal fade">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Pilih Menu</h4>
				<button id="addmenu_button_cancel" class="close"
					data-dismiss="modal">&times;</button>
			</div>
			<div id="addmenu_content" class="modal-body">
				<label id="addmenu_labeldate">Pilih menu untuk tanggal</label> 
				<label>Menu</label>
				<select id="select_mm" th:remove="all-but-first">
					<option 
						th:each="mm : ${listMenuPaket.scheduledPackageList}" 
						th:text="${mm.name}">
					<option>Option</option>
				</select>
				<div id="textlist" class="row">
					<div class="col-lg-12 col-xl-12">
						<ul class="list-inline">
							<li id="list_item" class="list-inline-item">
								
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button id="addmenu_button_ok" class="btn btn-success"
					data-dismiss="modal">Ok</button>
			</div>
		</div>
	</div>
	<button id="button_mm" class="btn btn-info btn-sm" style="display:none; margin-right:1em">
		<span class="align-middle">Name</span> 
		<i class="fa fa-trash align-middle" aria-hidden="true"></i>
	</button>
</div>

<!-- <div id="addmenu" class="modal fade row">
	<div class="modal-dialog modal">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Pilih Menu</h4>
				<button class="close" data-dismiss="modal">&times;</button>
			</div>
			<div id="addmenu_content" class="modal-body">
				<label id="addmenu_labeldate">Pilih menu untuk tanggal</label> <label>Menu</label>
				<select>
					<option>Option</option>
				</select>
				<div id="textlist" class="row">
					<div class="col-lg-12 col-xl-12">
						<ul class="list-inline">
							<li class="list-inline-item">
								<button class="btn btn-info btn-sm">
									<span class="align-middle">Name</span> <i
										class="fa fa-trash-o align-middle" aria-hidden="true"></i>
								</button>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button id="addmenu_button_ok" class="btn btn-success"
					data-dismiss="modal">Ok</button>
			</div>
		</div>
	</div>
</div> -->

<!-- <div id="addmenu">
	<h1>Pilih Menu</h1>
	<label> {{date}}</label>
	nggak bisa dipassing objek langsung
	<select (change)="addObject($event.target.value)">
		<option *ngFor="let m of mmService.mmList" [value]="m.id">{{m}}</option>
	</select>
	<textlist #textList [objects]="_menus"></textlist>
	<div id="lower_area">
		<button id="button_ok" class="btn btn-success"
			(click)="signalOkButtonClicked()">OK</button>
		<button id="button_cancel" class="btn btn-warning"
			(click)="signalCancelButtonClicked()">CANCEL</button>
	</div>
</div>

<div id="textlist" class="container-fluid">
	<div class="row">
		<div class="col-lg-12 col-xl-12">
			<ul class="list-inline">
				<li class="list-inline-item" *ngFor="let obj of _objects">
					<button class="btn btn-info btn-sm" (click)="removeObject(obj)">
						<span class="align-middle">{{obj.name}}</span> <i
							class="fa fa-trash-o align-middle" aria-hidden="true"></i>
					</button>
				</li>
			</ul>
		</div>
	</div>
</div> -->





