


<div id="menuharian" class="modal fade">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Menu harian</h4>
				<button id="menuharian_button_cancel" class="close"
					data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<div class="table_main row">
					<div class="col-lg-2 col-xl-2 table_col"
						th:each="i: ${#numbers.sequence(1, 31)}">
						<div id="menuharian_column_header" class="row justify-content-center">
							<div class="col-sm-3">
								<label th:text="${i}"></label>
							</div>
							<div class="col-sm-9">
								<button class="btn btn-info btn-sm menuharian_button_add"
									data-toggle="modal" data-target="#addmenu">
									Edit
								</button>
							</div>
						</div>
						<ul class="list-group list_menu">
							
						</ul>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button id="menuharian_button_ok" class="btn btn-success"
					data-dismiss="modal">Ok</button>
			</div>
		</div>
	</div>
	<li id="menu_child" class="list-group-item list-group-item-info" style="display:none">
		Menu
	</li>
</div>


<!-- 
<div id="menuharian" class="container-fluid">  
    <div class="row">
        <div class="col-lg-12 col-xl-12">
            <div id="header" class="row">
                <div class="col-lg-12 col-xl-12">
                    <button id="button_cancel" class="btn btn-warning" >KEMBALI</button>
                </div>
            </div>
            <div class="table_main row" *ngFor="let rows of table">
                <div class="col-lg-2 col-xl-2 table_col" *ngFor="let col of rows">
                    <div id="column_header">
                            <label>{{col.date}}</label>
                            <button id="button_add" class="btn btn-info btn-sm" (click)="addMenu(col.date)">Edit</button>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-info" *ngFor="let menu of col.menus">
                            {{menu.name}}
                        </li>
                    </ul>
                </div>
            </div>
            <div id="footer" class="row">
                <div id="lower_area" class="col-lg-12 col-xl-12">
                    <button id="button_ok" class="btn btn-success" (click)="signalOkButtonClicked()">Ok</button>
                </div>
            </div>
            
        </div>
    </div>
</div> -->