/*#home {
    
    .row {
        margin-top: 1rem;
    } */
    
    
    #main {        
/*        #main_actions{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 1%;
            height: 5%;
            
            button {
                margin: 1%;
                background-color: #006dcc;
                color: white;
            }
        }*/
        
/*        mastermenugroup {
            height: 90%;
            width: 100%;
        }
        
        menupaketgroup {
            height: 90%;
            width: 100%;
        }
        
        menuindividualgroup {
            height: 90%;
            width: 100%;
            border: 1px solid blue;
        }*/
  /*  }
} */

#home > .row {
	margin-top: 1rem;
}

#alert_error {
	margin-top: 1rem;
}